$border-radius:4px;



$info:#f0faff;
$success:#edfff3;
$success-border:#8ce6b0;
$error: #ffefe6;
$error-border:#ffb08f;
$warning:#fff9e6;
$warning-border:#ffd77a;

$primary:#1890ff;
$primary-hover:#40a9ff;
$primary-active:#096dd9;

$info-button:#2db7f5;
$info-button-hover:#57c5f7;
$info-button-active:#2baee9;

$success-button:#19be6b;
$success-button-hover:#47cb89;
$success-button-active:#18b566;

$warning-button:#f90;
$warning-button-hover:#ffad33;
$warning-button-active:#f29100;

$error-button:#ed4014;
$error-button-hover:#f16643;
$error-button-active:#e13d13;