
$grey:#ddd;
$border-radius:4px;
.collapse-item{
    >.title{
        border:1px solid $grey;
        margin:-1px -1px ;
        min-height: 32px;
        display: flex;
        align-items: center;
        padding:0 8px;
    }
    &:first-child{
        >.title{
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
    }
    &:last-child{
        >.title:last-child{
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
    >.content{
        padding:8px;
    }
}