$button-height:32px;
$font-size:14px;
$primary:'#1890ff';
$primaryHover:'#40a9ff';
$button-default:"rgba(0,0,0,.65)";
$button-default-hover:'#40a9ff';
$btn-color:'rgba(0,0,0,.65)';
$btn-info:#2db7f5;
$btn-info-hover:#57c5f7;
$btn-info-active:#2baee9;
$btn-success:#19be6b;
$btn-success-hover:#47cb89;
$btn-success-active:#18b566;
$btn-waring:#f90;
$btn-waring-hover:#ffad33;
$btn-waring-active:#f29100;
$btn-error:#ed4014;
$btn-error-hover:#f16643;
$btn-error-active:#e13d13;